body {
    background: #A2A2A2;
}
article {
    background: #FFFFFF;
}
.tShirt__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.tShirt img {
    max-width: 100%;
    height: auto;
}
.contenedorAB {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorAB__contenedorA {
    display: inline-block;
    margin-right: 6em;
}

.contenedorAB__contenedorA__nombre {
    display: inline-block;
}
.contenedorAB__contenedorA__nombre-a {
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.contenedorAB__contenedorA__descripcion {
    font-size: 1em;
    color: #8E8E8E;
}
.contenedorAB__contenedorA__descripcion-a {
    font-size: 1em;
    color: #8E8E8E;
}
.contenedorAB__contenedorB {
    display: inline-block;
    position: absolute;
    margin-left: 15em;
}
.contenedorAB__contenedorB__precio {  
}
.contenedorAB__contenedorB__precio-a {
    font-size: 1.65em;
    font-weight: bold;
    color: #0DD7FF;
}
.nav {
    background: #0DD7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav__ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav__ul-li {
    display: inline-block;
    width: 10em;
    height: 2.75em;
    margin-top: .7em;
}
.nav__ul li:first-child {
    margin-left: 1em;
  }
.nav__ul-li:hover>i {
    font-size: 2em;
    color: #000000;
    transition: 1s;
}
.nav__ul-li:hover>a {
    font-size: 2em;
    color: #FF0000;
    transition: 1s;
    text-decoration: underline;
}
header nav ul li i {
    font-size: 1.5em;
    color: #FF0000;
}
.nav__ul-li-a {
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}